{{define "outputError"}}
    <form id="" action="/error" method="GET" enctype="application/x-www-form-urlencoded" target="_blank">
        {{.Error}}
        <input type="hidden" name="id" id="id" value="{{.RetrieveID}}">
        <div><input type="submit" value="More Details"></div>
    </form>
{{end}}
<!DOCTYPE html>
<html>
    <head>
        <title>LinTeX</title>
        <link rel="stylesheet" href="/styles/home.css">
    </head>
    <body>
        <form id="form" action="/tool" method="GET" enctype="application/x-www-form-urlencoded" >
            <h1>LinTeX: Promoting Better Accessibility in LaTeX</h1>
            <input type="hidden" name="tex_file" id="tex_file" value="{{.FileName}}" />
            <div><label for="body"><textarea form="form" name="body" id="body" rows="20" cols="80">{{.Body}}</textarea></label></div>
            <div><input type="submit" value="Submit"></div>
        </form>
        <div>
            {{range .Responses}}
                {{template "outputError" .}}
            {{else}}
                {{if not .FileName}}
                    <p>Everything looks good!</p>
                {{end}}
            {{end}}
        </div>
    </body>
</html>